#comparison-table-container{
    height: 650px;
    overflow-y: auto;
}

.comparison-grid {
    border: 1px solid rgba(112, 112, 112, 0.64);
    margin: 10px;
    border-collapse: collapse;
  
}

.grid-column {
    padding: 1px;
    border: 1px solid rgba(112, 112, 112, 0.64);
    max-width:300px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

.grid-row {
    font-weight: 600;
    font-size: 12px;
    font-family: 'Segoe UI';
    font-color:#000;
    height: 10px;
}

.hide-row {
    display: none;
}

.greyed-out-cell {
    background-color: rgba(112, 112, 112, 0.37);
}

.action-dropdown {
    width: 75px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Segoe UI';
    font-color: #000;
    position: relative;
    top: 1px;
}

.node-images {
    height: 15px;
    width: 15px;
}

.node-type {
    position: relative;
    top: -3px;
}

.selected-row{
    background-color:#376fe8;
}

.transparent-cell{
    background-color: transparent;
}
