<div class='tree-control-context-menu' [style.left.px] = 'contextMenuPositionX' [style.top.px] = 'contextMenuPositionY'>
  <ul class='action-list'>
    <li id='skip-selected'class='tree-control-context-menu-options' (click)='performAction("skip","all")' tabindex='0' (keydown)='onKeydown($event)'>Skip selected objects</li>
    <li id='create-selected' class='tree-control-context-menu-options' (click)='performAction("create","Missing in Target")' tabindex='0' (keydown)='onKeydown($event)'>Create selected objects Missing in Target</li>
    <li id='delete-selected' class='tree-control-context-menu-options' (click)='performAction("delete","Missing in Source")' tabindex='0' (keydown)='onKeydown($event)'>Delete selected objects Missing in Source</li>
    <li id='update-selected' class='tree-control-context-menu-options' (click)='performAction("udpate","Different Definitions")' tabindex='0' (keydown)='onKeydown($event)'>Update selected objects with Different Definitions</li>
  </ul>
</div>
